* { padding: 0px; margin: 0px; background: #202124; }

.main-container {
    width: 100vw;
    height: 100vh;
}

.button-style {
    width: fit-content;
    height: auto;
    padding: 10px 20px;
    background: #603ac2;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;

    font-family: 'Arial', sans-serif;
    font-weight: bold;
}